./.idea/
.DS_Store
.idea/.DS_Store
.idea/acerank.iml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/workspace.xml
data/
legacy/.DS_Store
legacy/Dataset/
legacy/aminer.txt
legacy/pagerank/
result/.DS_Store
src/.DS_Store
src/temp.py
